services:
  # Base de datos (MYSQL)
  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql
    restart: always
    ports:
      - "3306:3306"
    networks:
      - laravel_network

  # Container con laravel y php8.2
  app:
    build:
      context: ./docker/php
    container_name: laravel_app
    image: laravel_app:latest
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./src:/var/www
      - composer_cache:/home/www-data/.composer
    environment:
      COMPOSER_CACHE_DIR: /home/www-data/.composer
      HOME: /home/www-data
    depends_on:
      - db
    networks:
      - laravel_network
  
  # Servidor de datos estaticos
  nginx:
    image: nginx:alpine
    container_name: nginx_web
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www
      - ./docker/web/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel_network
    depends_on:
      - app

volumes:
  dbdata:
  composer_cache:

networks:
  laravel_network:
    driver: bridge